:root {
    --red-color: #ee2d35;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding-top: 25px;
}

label {
    font-weight: bold;
}

.btn-link {
    color: var(--red-color);
    outline: none;
    text-decoration: none;
}

.buttons {
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    max-width: 680px;
}

.error {
    color: var(--red-color);
}

.logo {
    display: block;
    margin: 0 auto;
}

#hint {
    height: 25px;
}